{% extends "layout.html" %}

{% block content %}

<div class="col">

    <h2>Administrators</h2>

    <a class="btn btn-primary" role="button" href="{{ url_for('latest_logins') }}">Latest logins</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('newest_users') }}">Newest users</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('media.latest') }}">Latest media</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('auth.promote') }}">Promote</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('links.edit_links') }}">Links</a>

</div>

{% endblock %}