{% extends "layout.html" %}

{% block content %}

<div class="col">

    <h2>Administrators</h2>
    
    <div class="row">
        <div class="col">
                <a class="btn btn-primary" role="button" href="{{ url_for('media.latest') }}">Latest media</a><br /><br />
                <a class="btn btn-primary" role="button" href="{{ url_for('media.new_upload') }}">New upload</a><br /><br />
                <a class="btn btn-primary" role="button" href="{{ url_for('new_post') }}">New post</a><br /><br />
            </div>
        <div class="col">
            <a class="btn btn-primary" role="button" href="{{ url_for('users.latest_logins') }}">Latest logins</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('users.newest') }}">Newest users</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('auth.promote') }}">Promote</a><br /><br />
        </div>
        <div class="col">
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.latest') }}">Latest spots</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_spot') }}">New spot</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.all') }}">Spots</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_country') }}">New country</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.countries') }}">Countries</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_town') }}">New town</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.towns') }}">Towns</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_type') }}">New type</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.types') }}">Types</a><br /><br />
        </div>
        <div class="col">
            <a class="btn btn-primary" role="button" href="{{ url_for('links.latest') }}">Latest links</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('links.new_link') }}">New link</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('links.edit_links') }}">Links</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('links.new_category') }}">New category</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('links.categories') }}">Categories</a><br /><br />
        </div>
    </div>
</div>

{% endblock %}