<!-- users.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="col">
    <h1>Profile:</h1>

    <ul>
        {% for error in form.errors %}
            <li style="coloured:red;">{{ error }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('auth.profile') }}" method="POST">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.user_id.label }}
            {{ form.user_id.data }}
            {{ form.user_id }}
        </div>

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username.data }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.date.label }}
            {{ form.date.data }}
            {{ form.date }}
        </div>

        <div class="form-group">
            {{ form.last_login.label }}
            {{ form.last_login.data }}
            {{ form.last_login }}
        </div>

        <div class="form-group">
            {{ form.login_count.label }}
            {{ form.login_count.data }}
            {{ form.login_count }}
        </div>

        <div class="form-group">
            {{ form.last_profile_update.label }}
            {{ form.last_profile_update.data }}
            {{ form.last_profile_update }}
        </div>

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class_="form-control") }}
            <ul>
                {% for error in form.name.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_="form-control") }}
            <ul>
                {% for error in form.email.error %}
                    <li style="coloured:red;">{{ error }}</li> 
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.location.label }}
            {{ form.location(class_="form-control") }}
            <ul>
                {% for error in form.location.error %}
                    <li style="coloured:red;">{{ error }}</li> 
                {% endfor %}
            </ul>
        </div>
        
        <div class="form-group">
            {{ form.address.label }}
            {{ form.address(class_="form-control") }}
            <ul>
                {% for error in form.address.error %}
                    <li style="coloured:red;">{{ error }}</li> 
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.postnumber.label }}
            {{ form.postnumber(class_="form-control") }}
            <ul>
                {% for error in form.postnumber.error %}
                    <li style="coloured:red;">{{ error }}</li> 
                {% endfor %}
            </ul>
        </div>
        
        <div class="form-group">
            {{ form.bornyear.label }}
            {{ form.bornyear(class_="form-control") }}
            <ul>
                {% for error in form.bornyear.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.email2.label }}
            {{ form.email2(class_="form-control") }}
            <ul>
                {% for error in form.email2.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.homepage.label }}
            {{ form.homepage(class_="form-control") }}
            <ul>
                {% for error in form.homepage.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.info.label }}
            {{ form.info(class_="form-control") }}
            <ul>
                {% for error in form.info.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.hobbies.label }}
            {{ form.hobbies(class_="form-control") }}
            <ul>
                {% for error in form.hobbies.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.extrainfo.label }}
            {{ form.extrainfo(class_="form-control") }}
            <ul>
                {% for error in form.extrainfo.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.sukupuoli.label }}
            {{ form.sukupuoli(class_="form-control") }}
            <ul>
                {% for error in form.sukupuoli.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.icq.label }}
            {{ form.icq(class_="form-control") }}
            <ul>
                {% for error in form.icq.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.apulainen.label }}
            {{ form.apulainen(class_="form-control") }}
            <ul>
                {% for error in form.apulainen.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.chat.label }}
            {{ form.chat(class_="form-control") }}
            <ul>
                {% for error in form.chat.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.oikeus.label }}
            {{ form.oikeus(class_="form-control") }}
            <ul>
                {% for error in form.oikeus.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.lang_id.label }}
            {{ form.lang_id(class_="form-control") }}
            <ul>
                {% for error in form.lang_id.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.emails.label }}
            {{ form.emails(class_="form-control") }}
            <ul>
                {% for error in form.emails.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.puhelin.label }}
            {{ form.puhelin(class_="form-control") }}
            <ul>
                {% for error in form.puhelin.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="form-group">
            {{ form.blogs.label }}
            {{ form.blogs(class_="form-control") }}
            <ul>
                {% for error in form.blogs.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.messenger.label }}
            {{ form.messenger(class_="form-control") }}
            <ul>
                {% for error in form.messenger.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.myspace.label }}
            {{ form.myspace(class_="form-control") }}
            <ul>
                {% for error in form.myspace.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.rss.label }}
            {{ form.rss(class_="form-control") }}
            <ul>
                {% for error in form.rss.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.youtube.label }}
            {{ form.youtube(class_="form-control") }}
            <ul>
                {% for error in form.youtube.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.ircgalleria.label }}
            {{ form.ircgalleria(class_="form-control") }}
            <ul>
                {% for error in form.ircgalleria.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.avatar.label }}
            {{ form.avatar(class_="form-control") }}
            <ul>
                {% for error in form.avatar.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.flickr_username.label }}
            {{ form.flickr_username(class_="form-control") }}
            <ul>
                {% for error in form.flickr_username.error %}
                    <li style="coloured:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}
