<!-- users.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="col">
    <h1>Profile:</h1>

    <ul>
        {% for error in form.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('auth.profile') }}" method="POST">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.id.label }}:
            {{ form.id.data }}
            {{ form.id }}
        </div>

        <div class="form-group">
            {{ form.username.label }}:
            {{ form.username.data }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.date.label }}:
            {{ form.date.data }}
            {{ form.date }}
        </div>

        <div class="form-group">
            {{ form.last_login.label }}:
            {{ form.last_login.data }}
            {{ form.last_login }}
        </div>

        <div class="form-group">
            {{ form.login_count.label }}:
            {{ form.login_count.data }}
            {{ form.login_count }}
        </div>

        <div class="form-group">
            {{ form.last_update.label }}:
            {{ form.last_update.data }}
            {{ form.last_update }}
        </div>

        <div class="form-group">
            {{ form.level.label }}:
            {% if form.level.data==0 %} Undefined {% endif %}
            {% if form.level.data==1 %} Admin {% endif %}
            {% if form.level.data==3 %} Moderator {% endif %}
            {% if form.level.data==4 %} Contributor {% endif %}
            {% if form.level.data==5 %} User {% endif %}
            {% if form.level.data==50 %} 50 {% endif %}
            {% if form.level.data==99 %} 99 {% endif %}
            {% if form.level.data==100 %} 100 {% endif %}
        </div>

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class_="form-control") }}
            <ul>
                {% for error in form.name.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_="form-control") }}
            <ul>
                {% for error in form.email.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.address.label }}
            {{ form.address(class_="form-control") }}
            <ul>
                {% for error in form.address.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.postnumber.label }}
            {{ form.postnumber(class_="form-control") }}
            <ul>
                {% for error in form.postnumber.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.location.label }}
            {{ form.location(class_="form-control") }}
            <ul>
                {% for error in form.location.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.bornyear.label }}
            {{ form.bornyear(class_="form-control") }}
            <ul>
                {% for error in form.bornyear.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.homepage.label }}
            {{ form.homepage(class_="form-control") }}
            <ul>
                {% for error in form.homepage.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.info.label }}
            {{ form.info(class_="form-control") }}
            <ul>
                {% for error in form.info.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.hobbies.label }}
            {{ form.hobbies(class_="form-control") }}
            <ul>
                {% for error in form.hobbies.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.gender.label }}
            {{ form.gender(class_="form-control") }}
            <ul>
                {% for error in form.gender.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.lang_id.label }}
            {{ form.lang_id(class_="form-control") }}
            <ul>
                {% for error in form.lang_id.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.telephone.label }}
            {{ form.telephone(class_="form-control") }}
            <ul>
                {% for error in form.telephone.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.youtube.label }}
            {{ form.youtube(class_="form-control") }}
            <ul>
                {% for error in form.youtube.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            {{ form.avatar.label }}
            {{ form.avatar(class_="form-control") }}
            <ul>
                {% for error in form.avatar.error %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}
