<!-- interviews.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Interviews</h1>
<div class="interviews-list">
    <table>
        {% for item in interviews %}
            <tr>
                <td><a href="/interview/{{ item.media_id }}">{{ item.media_topic }}</a></td>
                <td>{{ item.create_time }}</td>
                <td>[<a href="/user/{{ item.owner }}">{{ item.owner }}</a>]</td>
                {% if session['logged_in'] and session['user_level'] == 1 %}
                    <td><a href="/media/update/{{ item.media_id }}">Edit</a></td>
                    <td><a href="/api/media/delete/{{ item.media_id }}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}