<!-- photos.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="photos-list">
    {{ pagination.info }}
    {{ pagination.links }}
    <table width="100%">
        <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Created</th>
            <th>Published</th>
            {% if session['logged_in'] %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for photo in photos %}
        <tr>
            <td>{{ loop.index + pagination.skip }}</td>
            <td>
                <a href="/photo/{{ photo.media_id }}">
                    <img src="{{ url_for('cdn', filename='thumbs/' + photo['media_id']|string + '_50.jpg') }}" />
                </a>
            </td>
            <td>
                <a href="/photo/{{ photo.media_id }}">
                    {{ photo.media_topic }}
                </a>
            </td>
            <td>{{ photo.create_time }}</td>
            <td>[<a href="/user/{{ photo.owner }}">{{ photo.owner }}</a>]</td>
            {% if session['logged_in'] and session['user_level'] == 1 %}
                <td><a href="/media/update/{{ photo.media_id }}">Edit</a></td>
                <td><a href="/api/media/delete/{{ photo.media_id }}">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}
</div>

{% endblock %}