<!-- update_media.html -->
{% extends 'layout.html' %}

{% block content %}

<form action = "/media/update/{{ result[0] }}" method = "POST">

    <input type="hidden" name="media_id" value="{{ result[0] }}" />
    <input type="hidden" name="media_type" value="{{ result[1] }}" />
    <input type="hidden" name="story_type" value="{{ result[2] }}" />

    <label for="media_topic">Title</label>
    <div><input type="text" name="media_topic" size="100" value="{{ result[3] }}" /></div>

    <label for="media_text">Text</label>
    <div><textarea type="text" name="media_text" cols="100" rows="10">{{ result[4] }}</textarea></div>

    <label for="media_description">Description</label>
    <div><textarea type="text" name="media_desc" cols="100" rows="10">{{ result[5] }}</textarea></div>

    <label for="owner">Owner</label>
    <div>{{ result[6] }}</div>

    <label for="create_time">Created</label>
    <div>{{ result[7] }}</div>

    <div><input type = "submit" value="submit" /></div>
 </form>


 {% endblock %}