<!-- video.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="page-title">

    <div><h1>{{ video.media_topic }}</h1></div>
    <div>{{ video.create_time }}</div>
    <div>{{ video.media_desc }}</div>
    
    <div class="videoplayer">
    
        <embed src="/static/flash_flv_player/flvplayer.swf"
            width="450"
            height="350"
            allowfullscreen="true"
            flashvars="&file={{ url_for('media', filename='flv/' + video['media_id']|string  + '.flv') }}&height=350&image=&width=450&location=/static/flash_flv_player/flvplayer.swf" />
    
        <p class="getflash">
            <a href="http://www.macromedia.com/go/getflashplayer">Download Flash Player</a>
        </p>
    </div>
    
</div>

{% endblock %}