<!-- video.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="page-title">
    {% for item in video %}

        <div><h1>{{ item.media_topic }}</h1></div>
        <div>{{ item.create_time }}</div>
        <div>{{ item.media_desc }}</div>
        
        <div class="videoplayer">
            <embed src="/static/flash_flv_player/flvplayer.swf" width="450" height="350" allowfullscreen="true" flashvars="&file={{ item.video }}&height=350&image={{ item.media_id }}.png&width=450&location=/static/flash_flv_player/flvplayer.swf" />
            <p class="getflash"><a href="http://www.macromedia.com/go/getflashplayer">Download Flash Player</a></p>
        </div>

    {% endfor %}
</div>

{% endblock %}