<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="col">
    
    <h1>Tue meitä</h1>

    <p>Miten voit auttaa Nolla.nettiä paremmaksi?</p>
    <p>Mitä enemmän Nolla.netillä on käyttäjiä, sitä parempaa palvelua voimme tarjota. Nolla.net pyörii sponsoreiden ja mainostajien rahoilla (sekä tarvittaessa ylläpitäjän omalla). Tämän vuoksi kaikenlainen apu on tarpeen!</p>


    <p>Linkitä omilta sivuiltasi Nolla.netin sivuille käyttämällä Nolla.netin oranssia logoa</p>

    <div class="">
        <img src="http://nolla.net/_framework/gfx/nolla_oranssi_100.gif" border="0" alt="Nolla.net">
        Laita sivuillesi seuraava koodi, jos haluat isomman:
        <a href="http://nolla.net/"><img src="http://nolla.net/_framework/gfx/nolla_oranssi_100.gif" border="0" alt="Nolla.net"></a>
    </div>

    <div class="">
        <img src="http://nolla.net/_framework/gfx/nolla_oranssi_70.gif" border="0" alt="Nolla.net">
        Laita sivuillesi seuraava koodi, jos haluat pienemmmän:
        <a href="http://nolla.net/"><img src="http://nolla.net/_framework/gfx/nolla_oranssi_70.gif" border="0" alt="Nolla.net"></a>
    </div>

    <p>Osta Nolla.net tuotteita ja tue Nolla.netin mainostajia ja sponsoreita. (<i>Tuotteita ei ole vielä myynnissä.</i>)</p>


    </p>Käyttäydy asiallisesti ja yritä olla kohtelias muille.</p>
    <p>Voit syöttää sisältöä ja keskustella mielenkiintoisista aiheista, kun olet rekisteröitynyt käyttäjäksi.</p>

    <p>Jos olet mielestäsi osaava kaveri ja voisit auttaa vaikkapa foorumeiden moderoinnissa - 
        <a href="mailto:hallinto@nolla.net">ota yhteyttä</a>!</p>

</div>

{% endblock %}