<!-- newest_users.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Newest users</h1>
<div class="newest-users-list">
    <table width="100%" class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>User ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Registered</th>
        </tr>
        </thead>
        <tbody>
        {% for item in newest_users %}
            <tr>
                <td>{{ loop.revindex }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}