<!-- users.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        {% if user.gravatar %}
            <img src="{{ user.gravatar(128) }}" style="padding: 20px;">
        {% endif %}
    </div>

    <div class="col-md-9">
        <table class="table">
            {% if user.username %}
            <tr>
                <th>username</th>
                <td>{{ user.username }}</td>
            </tr>
            {% endif %}
            {% if user.name %}
            <tr>
                <th>name</th>
                <td>{{ user.name }}</td>
            </tr>
            {% endif %}
            {% if user.bornyear %}
            <tr>
                <th>bornyear</th>
                <td>{{ user.bornyear }}</td>
            </tr>
            {% endif %}
            {% if user.homepage %}
            <tr>
                <th>homepage</th>
                <td>{{ user.homepage }}</td>
            </tr>
            {% endif %}
            {% if user.info %}
            <tr>
                <th>info</th>
                <td>{{ user.info }}</td>
            </tr>
            {% endif %}
            {% if user.hobbies %}
            <tr>
                <th>hobbies</th>
                <td>{{ user.hobbies }}</td>
            </tr>
            {% endif %}
            {% if user.youtube %}
            <tr>
                <th>youtube</th>
                <td>{{ user.youtube }}</td>
            </tr>
            {% endif %}
            {% if user.avatar %}
            <tr>
                <th>avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}
