{% extends "layout.html" %}

{% block content %}

<div class="">
    <h2>Promote</h2>

    <form action="{{ url_for('auth.promote') }}" method="POST">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="level">Level</label>
            <select name="level" class="form-control">
                <option value="100">100</option>
                <option value="99">99</option>
                <option value="50">50</option>
                <option value="5">User</option>
                <option value="4">Contributor</option>
                <option value="3">Moderator</option>
                <option value="1">Admin</option>
                <option value="0">Undefined</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Promote</button>
    </form>

</div>

{% endblock %}