{% extends "layout.html" %}

{% block content %}

<div class="col">

    <h2>Spots</h2>
    
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.latest') }}">Latest spots</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_spot') }}">New spot</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.all') }}">Spots</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_country') }}">New country</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.countries') }}">Countries</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_town') }}">New town</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.towns') }}">Towns</a><br /><br />
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.new_type') }}">New type</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('spots.types') }}">Types</a><br /><br />
        </div>
    </div>
</div>

{% endblock %}