<!-- new_upload.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>New upload</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('media.new_upload') }}" enctype="multipart/form-data" id="uploadForm">
    <div class="form-group">
        <input class="text-info" type="file" name="file" id="file" /><br/>
        <div id="uploadPreview">
            <img src="/static/gfx/image_placeholder.png" alt="Image placeholder" />
        </div><br/>
        <input type="submit" class="btn btn-primary" value="Upload" />
    </div>
</form>

{% endblock %}
