<!-- new_upload.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>New upload</h1>

<h3>Select file(s) to upload</h3>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<form method="post" action="upload" enctype="multipart/form-data">
    <fieldset>
        <div class="form-group">
            <input type="file" name="files[]" multiple="true" autocomplete="off" required><br />
            <input type="submit" class="btn btn-primary" value="Upload">
        </div>
    </fieldset>
</form>


{% endblock %}
