<!-- new_post.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>New post</h1>

<form action="{{ url_for('new_post') }}" method = "POST">

    <div class="form-group">
        <label for="media_type">Media type</label>
        <select name="media_type" class="form-control">
            <option value="1">Photo</option>
            <option value="6">Video</option>
            <option value="5">Stories</option>
            <option value="">None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="story_type">Story type</label>
        <select name="story_type" class="form-control">
            <option value="2">Review</option>
            <option value="3">Interview</option>
            <option value="4">News</option>
            <option value="">None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="media_genre">Media genre</label>
        <select name="media_genre" class="form-control">
            <option value="1">Skateboarding</option>
            <option value="2">Snowboarding</option>
            <option value="10">Nollagang</option>
            <option value="11">Snowskate</option>
            <option value="">None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="country_id">Country</label>
        <select name="country_id" class="form-control">
            <option value="1">Finland</option>
            <option value="2">Sweden</option>
            <option value="3">Estonia</option>
            <option value="4">Denmark</option>
            <option value="5">Germany</option>
            <option value="">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="media_topic">Media title</label>
        <input type="text" class="form-control" size="100" name="media_topic" />
    </div>

    <div class="form-group">
        <label for="media_text">Media text</label>
        <textarea type="text" class="form-control" name="media_text" cols="100" rows="10"></textarea>
    </div>

    <div class="form-group">
        <label for="media_desc">Media description</label>
        <textarea type="text" id="textCompose" class="form-control" name="media_desc" cols="100" rows="10"></textarea>
    </div>

    <div><b>My images</b></div>
    {% for blob in blobs %}
        <img src="{{ blob.path }}/{{ blob.container }}/{{ blob.name }}" draggable="true" class="draggie" /><br />
    {% endfor %}

    <br />
    <button type="submit" class="btn btn-primary">Create</button>

</form>

{% endblock %}
