<!-- new_post.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>New post</h1>

<form action="{{ url_for('new_post') }}" method = "POST">

    <div class="form-group">
        <label for="media_genre">Genre</label>
        <select name="media_genre" class="form-control">
            <option value="1">Skateboarding</option>
            <option value="2">Snowboarding</option>
            <!--
            <option value="10">Nollagang</option>
            <option value="11">Snowskate</option>
            -->
            <option value="0">None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="media_type">Media type</label>
        <select name="media_type" class="form-control" id="media_type_selector">
            <option value="1">Photo</option>
            <option value="6">Video</option>
            <option value="5">Stories</option>
            <option value="0">None</option>
        </select>
    </div>

    <div class="form-group" id="story_type_form_group">
        <label for="story_type">Story type</label>
        <select name="story_type" class="form-control">
            <option value="2">Review</option>
            <option value="3">Interview</option>
            <option value="4">News</option>
            <option value="5">Spotcheck</option>
            <option value="0">None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="country_id">Country</label>
        <select name="country_id" class="form-control">
            <option value="1">Finland</option>
            <option value="2">Sweden</option>
            <option value="3">Estonia</option>
            <option value="4">Denmark</option>
            <option value="5">Germany</option>
            <option value="">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="media_topic">Title</label>
        <input type="text" class="form-control" size="100" name="media_topic" />
    </div>

    <div class="form-group">
        <label for="media_desc">Description</label>
        <textarea type="text" class="form-control" name="media_desc" cols="100" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label for="media_text">Text</label>
        <textarea type="text" id="textArea" class="form-control" name="media_text" cols="100" rows="10"></textarea>
    </div>

    <div class="form-group">
        <label for="hidden">Publish</label>
        <input type="checkbox" name="hidden" />
    </div>

    <button type="button" id="btnShowModal" class="btn btn-info btn-lg">Add image</button>

    <br /><br />

    <button type="submit" class="btn btn-primary">Create</button>

</form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Select image
                </h4>
            </div>
            <div class="modal-body">
                {% if blobs is not none %}
                    {% for blob in blobs %}
                        <img src="{{ blob.path }}/{{ blob.container }}/{{ blob.name }}" onclick="addImageTagToTextarea(this)" alt="{{ blob.name }}" width="100" height="100">
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    
    </div>
</div> 

{% endblock %}
