<!-- stories.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>My stories</h1>

<a class="btn btn-primary" role="button" href="{{ url_for('stories.new_story') }}">New story</a>

<table width="100%" class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Media id</th>
        <th>Genre</th>
        <th>Story type</th>
        <th>Media topic</th>
        <th>Created</th>
        <th>Creator</th>
        <th>Country</th>
        <th>Hidden</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in stories %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.genre }}</td>
            <td>{{ item.storytype_name }}</td>
            <td>{{ item.media_topic }}</td>
            <td>{{ item.create_time }}</td>
            <td>{{ item.owner }}</td>
            <td>{{ item.country_code }}</td>
            <td>
                {% if item.hidden==1 %} 
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                <form action="/stories/update/{{ item.id }}" method="GET">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form action="/stories/delete" method="POST">
                    <input type="hidden" name="id" value="{{ item.id }}" />
                    <input type="button" class="btn btn-primary" onClick="confirmDelete(this.form);" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}