<!-- update_media.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Update post</h1>

<form action = "{{ url_for('update_media', media_id=result.media_id) }}" method = "POST">
    
    <input type="hidden" name="media_id" value="{{ result.media_id  }}" />
    <input type="hidden" name="media_type" value="{{ result.media_type }}" />

    <div class="form-group">
        <label for="media_topic">Title</label>
        <input type="text" name="media_topic" class="form-control" size="100" value="{{ result.media_topic }}" />
    </div>

    <div class="form-group">
        <label for="media_description">Description</label>
        <textarea type="text" name="media_desc" class="form-control" cols="100" rows="1">{{ result.media_desc }}</textarea>
    </div>

    <div class="form-group">
        <label for="media_text">Text</label>
        <textarea type="text" name="media_text" class="form-control" cols="100" rows="10">{{ result.media_text }}</textarea>
    </div>

    <div class="form-group">
        <label for="country_id">Country</label>
        <select name="country_id" class="form-control">
            <option value="1"{% if result.country_id==1 %} selected="selected" {% endif %}>Finland</option>
            <option value="2"{% if result.country_id==2 %} selected="selected" {% endif %}>Sweden</option>
            <option value="3"{% if result.country_id==3 %} selected="selected" {% endif %}>Estonia</option>
            <option value="4"{% if result.country_id==4 %} selected="selected" {% endif %}>Denmark</option>
            <option value="5"{% if result.country_id==5 %} selected="selected" {% endif %}>Germany</option>
            <option value="0"{% if result.country_id==0 %} selected="selected" {% endif %}>Other</option>
        </select>
    </div>
 
    <div class="form-group">
        <label for="media_genre">Media genre</label>
        <select name="media_genre" class="form-control">
            <option value="1"{% if result.story_type==1 %} selected="selected" {% endif %}>Skateboarding</option>
            <option value="2"{% if result.story_type==2 %} selected="selected" {% endif %}>Snowboarding</option>
            <option value="10"{% if result.story_type==10 %} selected="selected" {% endif %}>Nollagang</option>
            <option value="11"{% if result.story_type==11 %} selected="selected" {% endif %}>Snowskate</option>
            <option value=""{% if result.story_type=='' %} selected="selected" {% endif %}>None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="media_type">Media type</label>
        <select name="media_type" class="form-control">
            <option value="1"{% if result.story_type==1 %} selected="selected" {% endif %}>Photo</option>
            <option value="6"{% if result.story_type==6 %} selected="selected" {% endif %}>Video</option>
            <option value="5"{% if result.story_type==5 %} selected="selected" {% endif %}>Stories</option>
            <option value=""{% if result.story_type=='' %} selected="selected" {% endif %}>None</option>
        </select>
    </div>

    <div class="form-group">
        <label for="story_type">Story type</label>
        <select name="story_type" class="form-control">
            <option value="5"{% if result.story_type==5 %} selected="selected" {% endif %}>Spotcheck</option>
            <option value="4"{% if result.story_type==4 %} selected="selected" {% endif %}>News</option>
            <option value="3"{% if result.story_type==3 %} selected="selected" {% endif %}>Interview</option>
            <option value="2"{% if result.story_type==2 %} selected="selected" {% endif %}>Review</option>
        </select>
    </div>

    <label for="owner">Owner</label>
    <div>{{ result.owner }}</div>
    
    <label for="create_time">Created</label>
    <div>{{ result.create_time }}</div>

    <button type="submit" class="btn btn-primary">Update</button>
 </form>


 {% endblock %}