<!-- uploads.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>My uploads</h1>

<a class="btn btn-primary" role="button" href="{{ url_for('new_upload') }}">New upload</a><br />

{% if blobs is not none %}
<table width="100%" class="table table-bordered">
    {% for blob in blobs %}
    <tr>
        <td>
            <img src="{{ blob.path }}" /><br/>
            <a href="{{ blob.path }}" target="_blank">{{ blob.path }}</a>
        </td>
        <td>
            <form action="{{ url_for('delete_blob') }}" method="POST">
                <input type="hidden" name="blob_path" value="{{ blob.path }}" />
                <input type="hidden" name="upload_id" value="{{ blob.id }}" />
                <input type="button" class="btn btn-primary" onClick="confirmDelete(this.form);" value="Delete" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}