<!-- update_link.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Update link</h1>

<form action = "{{ url_for('auth.update_link', link_id=link.id) }}" method = "POST">
    
    <input type="hidden" name="link_id" value="{{ link.id  }}" />
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" size="100" value="{{ link.name }}" />
    </div>

    <div class="form-group">
        <label for="url">Url</label>
        <input type="text" name="url" class="form-control" size="100" value="{{ link.url }}" />
    </div>

    <label for="user_id">User id</label>
    <div>{{ link.user_id }}</div>
    
    <label for="create_time">Created</label>
    <div>{{ link.create_time }}</div>

    <button type="submit" class="btn btn-primary">Update</button>
 </form>


 {% endblock %}