<!-- spot.html -->
{% extends 'layout.html' %}

{% block content %}

{{mymap.js}}

<div class="spot-title">

    <h1>{{ spot.name }}</h1>
    <div>Published: {{ spot.paivays }} by <a href="{{ url_for('users.user', username=spot.username) }}">{{ spot.username }}</a></div>
    
    <br />
    <div>{{ spot.info|safe }}</div>
    {% if spot.link %}
        <div>Link: <a href="{{ spot.link }}" target="_blank">{{ spot.link }}</a></div>
    {% endif %}

    <div id="stars">
        Stars: 
        {% if stars != 0 %}
            {{ stars }}
        {% else %}
            no rating
        {% endif %}
    </div>
    <div id="coordinates">
        Coordinates: 
        {% if spot.latlon %}
            {{ spot.latlon }}
        {% else %}
            missing
        {% endif %}
    </div>


    <br />
    <div>Type: {{ spot.type }}</div>
    <div>Country: {{ spot.maa }}</div>
    <div>Town: {{ spot.paikkakunta }}</div>

    {{mymap.html}}

</div>

{% include 'facebook-comments.html' %}

{% endblock %}