<!-- spots.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Spots</h1>
Count: {{ spots.count() }}
<form action="{{ url_for('spots.all') }}" method="GET">
    <div class="form-group">
        <label for="maa_id">Filter by country:</label>
        <select name="maa_id" class="form-control" onchange="this.form.submit()">
            <option value="0">None</option>
            {% for country in countries %}
                <option value="{{ country.id }}"{% if country.id|int() == selected_maa_id|int() %} selected="selected"{% endif %}>{{ country.maa }}</option>
            {% endfor %}
        </select>
    </div>
</form>

<form action="{{ url_for('spots.all') }}" method="GET">
    <div class="form-group">
        <label for="paikkakunta_id">Filter by town:</label>
        <select name="paikkakunta_id" class="form-control" onchange="this.form.submit()">
            <option value="0">None</option>
            {% for town in towns %}
                <option value="{{ town.id }}"{% if town.id|int() == selected_paikkakunta_id|int() %} selected="selected"{% endif %}>{{ town.paikkakunta }}</option> 
            {% endfor %}
        </select>
        <input type="hidden" name="maa_id" value="{{ selected_maa_id }}" />
    </div>
</form>

<form action="{{ url_for('spots.all') }}" method="GET">
    <div class="form-group">
        <label for="type_id">Filter by type:</label>
        <select name="type_id" class="form-control" onchange="this.form.submit()">
            <option value="0">None</option>
            {% for type in types %}
                <option value="{{ type.id }}"{% if type.id|int() == selected_type_id|int() %} selected="selected"{% endif %}>{{ type.name }}</option> 
            {% endfor %}
        </select>
        <input type="hidden" name="maa_id" value="{{ selected_maa_id }}" />
        <input type="hidden" name="paikkakunta_id" value="{{ selected_paikkakunta_id }}" />
    </div>
</form>

{% if spots.count() > 0 %}
<table width="100%" class="table table-bordered">
    <tr>
        <td width="200">Name</td>
        <td>Info</td>
        <td width="100">Created</td>
        {% if session['logged_in'] and session['user_level'] == 1 %}
            <td></td>
            <td></td>
        {% endif %}
    </tr>
    {% for spot in spots %}
        <tr>
            <td><a href="{{ url_for('spots.spot', kartta_id=spot.kartta_id) }}">{{ spot.nimi }}</a></td>
            <td>
                {{ spot.info }}<br />
            </td>
            <td>{{ spot.paivays }}</td>
            {% if session['logged_in'] and session['user_level'] == 1 %}
                <td>
                    <form action="{{ url_for('spots.update_spot', spot_id=spot.kartta_id) }}" method="GET">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('spots.delete_spot') }}" method="POST">
                        <input type="hidden" name="spot_id" value="{{ spot.kartta_id }}" />
                        <input type="button" class="btn btn-primary" onClick="confirmDelete(this.form);" value="Delete" />
                    </form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}