<!-- update_country.html -->
{% extends 'layout.html' %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}"></script>

<h1>Update country</h1>

<form action="{{ url_for('spots.update_country', country_id=country.id) }}" method = "POST">

    <input type="hidden" name="country_id" value="{{ country.id  }}" />
    
    <div class="form-group">
        <label for="maa">Maa</label>
        <input type="text" name="maa" class="form-control" size="100" value="{{ country.maa }}" />
    </div>

    <div class="form-group">
        <label for="koodi">Country code</label>
        <input type="text" name="koodi" class="form-control" size="100" value="{{ country.koodi }}" />
    </div>

    <div class="form-group">
        <label for="lat">Lat</label>
        <input type="text" id="lat" name="lat" class="form-control" size="100" value="{{ country.lat }}" />
    </div>

    <div class="form-group">
        <label for="lon">Lon</label>
        <input type="text" id="lon" name="lon" class="form-control" size="100" value="{{ country.lon }}" />
    </div>

    <div class="form-group">
        <input type="button" value="Drop marker" onclick="dropPin()" class="btn btn-primary"> and drag it to correct location.
    </div>

    <div id="map"></div>

    <button type="submit" class="btn btn-primary">Save</button>
    
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/mapdroppin.js') }}"></script>

{% endblock %}
