<!-- update_town.html -->
{% extends 'layout.html' %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}"></script>

<h1>Update town</h1>

<form action="{{ url_for('spots.update_town', town_id=town.id) }}" method = "POST">

    <input type="hidden" name="town_id" value="{{ town.id  }}" />
    
    <div class="form-group">
        <label for="paikkakunta">Name</label>
        <input type="text" name="paikkakunta" class="form-control" size="100" value="{{ town.paikkakunta }}" />
    </div>

    <div class="form-group">
        <label for="maa_id">Country id</label>
        <input type="text" name="maa_id" class="form-control" size="100" value="{{ town.maa_id }}" />
    </div>

    <div class="form-group">
        <label for="lat">Lat</label>
        <input type="text" name="lat" class="form-control" size="100" value="{{ town.lat }}" />
    </div>

    <div class="form-group">
        <label for="lon">Lon</label>
        <input type="text" name="lon" class="form-control" size="100" value="{{ town.lon }}" />
    </div>

    <div class="form-group">
        <input type="button" value="Drop marker" onclick="dropPin()" class="btn btn-primary"> and drag it to correct location.
    </div>

    <div id="map"></div>
    
    <button type="submit" class="btn btn-primary">Save</button>
    
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/mapdroppin.js') }}"></script>

{% endblock %}
