<!-- update_country.html -->
{% extends 'layout.html' %}

{% block content %}


<h1>Update country</h1>

<form action="{{ url_for('spots.update_country', country_id=country.id) }}" method = "POST">

    <input type="hidden" name="country_id" value="{{ country.id  }}" />
    
    <div class="form-group">
        <label for="maa">Maa</label>
        <input type="text" name="maa" class="form-control" size="100" value="{{ country.maa }}" />
    </div>

    <div class="form-group">
        <label for="lat">Lat</label>
        <input type="text" name="url" class="form-control" size="100" value="{{ country.lat }}" />
    </div>

    <div class="form-group">
        <label for="lon">Lon</label>
        <input type="text" name="url" class="form-control" size="100" value="{{ country.lon }}" />
    </div>

    <div class="form-group">
        <label for="koodi">Country code</label>
        <input type="text" name="koodi" class="form-control" size="100" value="{{ country.koodi }}" />
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
    
</form>

{% endblock %}
