<!-- news.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>News</h1>


<form action="{{ url_for('news.all') }}" method="GET">
    <div class="form-group">
        <label for="media_genre">Filter by</label>
        <select name="genre" class="form-control" onchange="this.form.submit()">
            <option value="1"{% if selected_genre=='1' %} selected="selected" {% endif %}>Skateboarding</option>
            <option value="2"{% if selected_genre=='2' %} selected="selected" {% endif %}>Snowboarding</option>
        </select>
    </div>
</form>

{{ pagination.info }}
<table width="100%" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created</th>
            <th>Publisher</th>
            <th>Country</th>
            {% if session['logged_in'] and session['user_level'] == 1 %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in news %}
        <tr>
            <td>{{ loop.index + pagination.skip }}</td>
            <td><a href="{{ url_for('news.item', media_id=item.media_id) }}">{{ item.media_topic }}</a></td>
            <td>{{ item.create_time }}</td>
            <td><a href="/user/{{ item.owner }}">{{ item.owner }}</a></td>
            <td>{{ item.country_code }}</td>
            {% if session['logged_in'] and session['user_level'] == 1 %}
                <td>
                    <form action="{{ url_for('media.update', media_id=item.media_id) }}" method="GET">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('media.delete') }}" method="POST">
                        <input type="hidden" name="media_id" value="{{ item.media_id }}" />
                        <input type="button" class="btn btn-primary" onClick="confirmDelete(this.form);" value="Delete" />
                    </form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination.links }}
            
{% endblock %}