<!-- interviews.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Interviews</h1>
<div class="interviews-list">
    <table width="100%" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Topic</th>
                <th>Genre</th>
                <th>Created</th>
                <th>Owner</th>
                <th>Country</th>
                {% if session['logged_in'] and session['user_level'] == 1 %}
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for item in interviews %}
            <tr>
                <td><a href="{{ url_for('interviews.interview', id=item.id) }}">{{ item.media_topic }}</a></td>
                <td>{{ item.genre }}</td>
                <td>{{ item.create_time }}</td>
                <td><a href="{{ url_for('users.user', username=item.owner) }}">{{ item.owner }}</a></td>
                <td>{{ item.country_code }}</td>
                {% if session['logged_in'] and session['user_level'] == 1 %}
                    <td>
                        <form action="{{ url_for('media.update', id=item.id) }}" method="GET">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('media.delete') }}" method="POST">
                            <input type="hidden" name="id" value="{{ item.id }}" />
                            <input type="button" class="btn btn-primary" onClick="confirmDelete(this.form);" value="Delete" />
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}