{% extends "layout.html" %}

{% block content %}

<h1>Posts</h1>

{% for post in infos.posts.data %}
    {% if(post.is_published) %}
        <div class="" style="padding: 10px; border: solid 1px #eee; margin-bottom:10px;">
            <div style="float:left; margin-right: 10px; width: 130px;">
                <a href="{{ post.permalink_url }}" target="_blank">
                    <img src="{{ post.picture }}" alt="{{ post.id }}" />
                </a>
            </div>
            <div>
                <div>{{ post.created_time }}</div>
                <div>{{ post.message }}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}