<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="text-uppercase font-weight-bold">What is nolla.net?</h5>
        <p>Nolla.net is a community of people who are into various board sports. Check out the latest news and find useful information. We publish articles, reviews, interviews, photos, videos and other media content.</p>
      </div>
 
     <div class="col-sm-6">
        <h5 class="text-uppercase font-weight-bold">How to join the community?</h5>
        <p>Register for a user account and contribute. We are always looking for people who want to create and share content.</p>
      </div>
    </div>
  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Nolla.net since 2000</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->