<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col latest-news">
        <div class="module-title-wrap"><h4 class="module-title"><span>Latest news</span></h4></div>
        {% for item in news[:3] %}
            <div class="row news-item">
                <div class="news-details">
                    <div class="news-title">
                        <a href="/news/{{ item.media_id }}">{{ item.media_topic }}</a>
                    </div>
                    <div class="news-desc">
                        {{ item.media_desc }}
                    </div>
                    <div class="news-date">
                        {{ item.create_time }} published by: <a href="/user/{{ item.owner }}">{{ item.owner }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col facebook-like-box mobile-hide">
        {% include 'facebook-like-box.html' %}
    </div>
</div>

<div class="row mobile-hide">
    <div class="col">
        {% include 'facebook-like.html' %}
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="skateboarding-list">
            <div class="module-title-wrap"><h4 class="module-title"><span>Skateboarding</span></h4></div>
            <ul>
                {% for item in photos_skateboarding %}
                    <li><a href="{{ url_for('media.photo', media_id=item.media_id) }}">{{ item.media_topic }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="snowboarding-list">
            <div class="module-title-wrap"><h4 class="module-title"><span>Snowboarding</span></h4></div>
            <ul>
                {% for item in photos_snowboarding %}
                    <li><a href="{{ url_for('media.photo', media_id=item.media_id) }}">{{ item.media_topic }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="interviews-list">
            <div class="module-title-wrap"><h4 class="module-title"><span>Interviews</span></h4></div>
            <ul>
                {% for item in interviews %}
                    <li><a href="{{ url_for('interviews.interview', media_id=item.media_id) }}">{{ item.media_topic }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="reviews-list">
            <div class="module-title-wrap"><h4 class="module-title"><span>Reviews</span></h4></div>
            <ul>
                {% for item in reviews %}
                    <li><a href="{{ url_for('reviews.review', media_id=item.media_id) }}">{{ item.media_topic }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="spots-list">
            <div class="module-title-wrap"><h4 class="module-title"><span>Spots</span></h4></div>
            <ul>
                {% for spot in spots %}
                    <li><a href="{{ url_for('spots.spot', kartta_id=spot.kartta_id) }}">{{ spot.nimi }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="links-list">
            <div class="module-title-wrap"><h4 class="module-title"><span>Links</span></h4></div>
            <ul>
                {% for link in links %}
                    <li><a href="{{ link.url }}" target="_blank">{{ link.category_name }} - {{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        {% include 'facebook-comments.html' %}
    </div>
</div>

{% endblock %}

