<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent"> 
		<ul class="nav navbar-nav navbar-left">
	
			{% for item in nav.top %}
			<li class="nav-item dropdown {{ 'active' if item.is_active else '' }}">
				<a href="{{ item.url }}" 
					class="nav-link {% if item.items %}dropdown-toggle{% endif %}" 
					data-toggle="{% if item.items %}dropdown{% endif %}">
					{{ item.label }}
				</a>

				{% if item.items %}
				<ul class="dropdown-menu" role="menu">
					{% for child in item.items %}
					<li class="{{ 'active' if child.is_active else '' }}">
						<a href="{{ child.url }}" class="nav-link" >{{ child.label }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}

			</li>
			{% endfor %}

			{% if session['logged_in'] %}
				{% for item in nav.user %}
				<li class="nav-item dropdown {{ 'active' if item.is_active else '' }}">
					<a href="{{ item.url }}" 
						class="nav-link {% if item.items %}dropdown-toggle{% endif %}" 
						data-toggle="{% if item.items %}dropdown{% endif %}">
						{{ item.label }}
					</a>

					{% if item.items %}
					<ul class="dropdown-menu" role="menu">
						{% for child in item.items %}
						<li class="{{ 'active' if child.is_active else '' }}">
							<a href="{{ child.url }}" class="nav-link" >{{ child.label }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}

				</li>
				{% endfor %}

				{% if session['logged_in'] and session['user_level'] == 1 %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.admin') }}">Admin</a></li>
				{% endif %}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
			{% else %}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
			{% endif %}
		</ul>
	</div>

</nav>