<!-- media.html -->
{% extends 'layout.html' %}

{% block content %}

<h1>Media</h1>

<form action="{{ url_for('media.all') }}" method="GET">
    <div class="form-group">
        <label for="genre_id">Filter by genre</label>
        <select name="genre_id" class="form-control" onchange="this.form.submit()">
            <option value="1"{% if selected_genre_id=='1' %} selected="selected" {% endif %}>Skateboarding</option>
            <option value="2"{% if selected_genre_id=='2' %} selected="selected" {% endif %}>Snowboarding</option>
        </select>
    </div>
    <div class="form-group">
        <label for="mediatype_id">Filter by media type</label>
        <select name="mediatype_id" class="form-control" onchange="this.form.submit()">
            <option value="1"{% if selected_mediatype_id=='1' %} selected="selected" {% endif %}>Photos</option>
            <option value="6"{% if selected_mediatype_id=='6' %} selected="selected" {% endif %}>Video</option>
        </select>
    </div>
</form>

{{ pagination.info }}
<table width="100%" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Created</th>
            <th>Owner</th>
            <th>Country</th>
            {% if session['logged_in'] and session['user_level'] == 1 %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in media %}
    <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>
            {% if selected_mediatype_id=='6' %}
            <a href="{{ url_for('media.video', id=item.id) }}"><img src="{{ url_for('media.filename', filename='thumbs/' + item['id']|string + '_50.jpg') }}" /></a>
            {% else %}
            <a href="{{ url_for('media.photo', id=item.id) }}"><img src="{{ url_for('media.filename', filename='thumbs/' + item['id']|string + '_50.jpg') }}" /></a>
            {% endif %}
        </td>
        <td>
            {% if selected_mediatype_id=='6' %}
            <a href="{{ url_for('media.video', id=item.id) }}">{{ item.media_topic }}</a>
            {% else %}
            <a href="{{ url_for('media.photo', id=item.id) }}">{{ item.media_topic }}</a>
            {% endif %}
        </td>
        <td>{{ item.create_time }}</td>
        <td><a href="{{ url_for('users.user', username=item.owner) }}">{{ item.owner }}</a></td>
        <td>{{ item.country_code }}</td>
        {% if session['logged_in'] and session['user_level'] == 1 %}
            <td>
                <form action="{{ url_for('media.update', id=item.id) }}" method="GET">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('media.delete') }}" method="POST">
                    <input type="hidden" name="id" value="{{ item.id }}" />
                    <input type="button" class="btn btn-primary" onClick="confirmDelete(this.form);" value="Delete" />
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination.links }}

{% endblock %}