<!-- photo.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="photo">
            <img src="{{ url_for('media.filename', filename='thumbs/' + photo['id']|string + '_400.jpg') }}" />
        </div>
    </div>
    <div class="col">
        ID: {{ photo.id }}<br>
        Owner: <a href="{{ url_for('users.user', username=photo.owner) }}">{{ photo.owner }}</a><br>
        Country: {{ photo.country_code }}<br>
        Topic: {{ photo.media_topic }}<br>
        Text: {{ photo.media_text }}<br>
        Description: {{ photo.media_desc }}<br>
        Created: {{ photo.create_time }}<br>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-time">{{ comment.timestamp }} {{ comment.username }}</div>
                    <div class="comment-text">{{ comment.comment }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'facebook-comments.html' %}

{% endblock %}