<!-- video.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="page-title">

    <div><h1>{{ video.media_topic }}</h1></div>
    <div>{{ video.create_time }}</div>
    <div>{{ video.media_desc }}</div>
    
    <video controls width="320">
        <source src="{{ url_for('media.filename', filename='mp4/' + video['id']|string  + '.mp4') }}" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>

</div>

{% include 'facebook-comments.html' %}

{% endblock %}